 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 li {
     list-style: none;
 }


 a {
     text-decoration: none;
 }



 .header {
     border-bottom: 1px solid #E2E8F0;
 }

 .navbar {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 1rem 1.5rem;
     font-family: 'Style Script', cursive;
     z-index: 9999;
 }

 .site-title {
     font-size: 2.5rem;
     text-shadow: 2px 2px 5px rgba(138, 192, 222, 1);
 }



 .hamburger {
     display: none;
 }

 .bar {
     display: block;
     width: 25px;
     height: 3px;
     margin: 5px auto;
     -webkit-transition: all 0.3s ease-in-out;
     transition: all 0.3s ease-in-out;
     background-color: #101010;
     position: relative z-index: 1000;
 }

 .nav-menu {
     display: flex;
     justify-content: space-between;
     align-items: center;
     color: #EAB159;
 }

 .nav-item {
     margin-left: 5rem;

 }

 .nav-link {
     font-size: 1.6rem;
     font-weight: 400;
     color: #EAB159;
 }


 .nav-link:hover {
     color: #8AC0DE;
     font-weight: bold;
 }

 .nav-logo {
     font-weight: 500;
     color: #482ff7;
 }

 .nav-item .current-link {
     color: #8AC0DE;
 }

 .psyanky-sm,
 .psyanky-sm img {
     display: none;
 }

 .psyanky-lg {
     margin-top: 100px;
 }



 .carousel-inner {
     border: 2px solid #8AC0DE;
     border-radius: 80%;

 }

 .carousel-item img {
     height: 450px;

 }

 .about-us {
     margin-top: 40px;
     border: 2px solid #8AC0DE;
     padding: 5px;

 }

 .about-us h2 {
     font-family: 'Style Script', cursive;
     color: #EAB159;
     font-weight: 700;
 }

 .about-us .about-us-article {
     border-right: 2px solid #8AC0DE;

 }

 .store-header {
     font-family: 'Style Script', cursive;
     color: #EAB159;
     font-size: 2.6rem;
     font-weight: bold;
     margin-top: 30px;
     letter-spacing: 7px;
     text-shadow: 2px 2px 5px rgba(138, 192, 222, 1);
 }

 .gallery {
     border-top: 1px solid #8AC0DE;
 }

 .gallery-item {

     height: 100%;
     font-family: 'Kalam', cursive;

 }

 .gallery-info {
     background-color: #F2F2F2;
 }

 .gallery img {
     width: 200px;
     height: 200px;
     margin: 10px 0 10px 0;
 }


 .card {
     margin: 5px 5px 5px 5px;

 }

 .gallery-item img {
     width: 150px;
     height: 150px;
     margin: 10px 0 10px 0;
 }

 .card {
     border-color: #8AC0DE;
 }

 .card-body {
     height: 220px;

 }

 .card-body h4 {
     color: #EAB159;
     line-height: 0.8;
 }


 .gallery h4 {
     color: #EAB159;
     line-height: 0.8;
 }

 .gallery-item article {
     color: #8AC0DE;
 }

 }

 .add-to-cart {
     background-color: #EAB159;
     color: #8AC0DE;
 }

 .add-to-cart:hover {
     color: #EAB159;
     background-color: #8AC0DE;
     font-weight: bold;
 }


 .modal-header {
     font-family: 'Style Script', cursive;
     color: #EAB159;
     letter-spacing: 5px;
     text-shadow: 2px 2px 5px rgba(138, 192, 222, 1);
 }

 .modal-body {
     color: #8AC0DE;
     font-family: 'Kalam', cursive;
 }


 .current-cart img {
     width: 100px;
     height: 100px;
     margin-bottom: 10px;

 }

 .empty-basket-txt {
     font-size: 1.5rem;
     color: #EAB159;
 }

 .empty-cart img {
     width: 300px;
     height: 200px;
     border-radius: 80%;
 }


 .cart-header {
     border-bottom: solid 1px #8AC0DE;
     height: 100%;
     font-family: 'Kalam', cursive;
     margin: 10px 0 10px 0;
     color: #8AC0DE;
 }

 .cart-item {
     border-bottom: solid 1px #8AC0DE;
     height: 100%;
     font-family: 'Kalam', cursive;
     margin: 10px 0 10px 0;
 }



 .cartTotal {
     height: 100%;
     font-family: 'Kalam', cursive;

 }

 .checkout-title h5 {
     font-family: 'Style Script', cursive;
     background-color: #8AC0DE;
     color: #EAB159;
     font-size: 2.6rem;
     font-weight: bold;
     letter-spacing: 5px;
     text-shadow: 2px 2px 5px rgba(138, 192, 222, 1);
 }

 .checkout-user-row,
 .checkout-payment-row {
     padding: 10px 0 10px 0;
     font-family: 'Kalam', cursive;
 }

 .checkout-userinfo,
 .checkout-user-payment {
     border: 1px solid #8AC0DE;
     margin-top: 20px;
     padding: 15px 10px 15px 10px;
 }

 .btn {
     margin-top: 10px;
     font-family: 'Kalam', cursive;
     padding: 10px 20px 10px 20px;
     background-color: #EAB159;
     border-color: #8AC0DE;
     color: black;
     box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.5), 0px 2px 0px 0px rgba(185, 91, 12, 1), inset 0 1px 0 0 rgba(255, 255, 255, 0.5);
 }


 .btn:hover {
     background-color: #8AC0DE;
     font-weight: bold;
     color: #EAB159;
     border-color: #EAB159;

 }

 .button {
     width 225px;
     height: 45px;

     text-align: center;
     font-size: 150%;
     padding: 5px;
     margin: 5px 5px 0 0;

     border-radius: 5px;
     box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.5), 0px 2px 0px 0px rgba(185, 91, 12, 1), inset 0 1px 0 0 rgba(255, 255, 255, 0.5);
     cursor: pointer;
 }

 .button a {
     color: black;
     font-weight: normal;
 }

 .button a:hover {
     background-color: #8AC0DE;
     font-weight: bold;
     color: #EAB159;
     border-color: #EAB159;
 }


 .site-second-title {
     color: #EAB159;
 }

 .site-first-title {
     color: #8AC0DE;
 }

 @media only screen and (max-width: 768px) {
     .nav-menu {
         position: fixed;
         left: -100%;
         top: 10rem;
         flex-direction: column;
         background-color: #fff;
         width: 100%;
         border-radius: 10px;
         text-align: center;
         transition: 0.3s;
         box-shadow:
             0 10px 27px rgba(0, 0, 0, 0.05);
     }

     .nav-menu.active {
         left: 0;
     }

     .nav-item {
         margin: 2.5rem 0;
     }

     .hamburger {
         display: block;
         cursor: pointer;

     }

     .hamburger.active .bar:nth-child(2) {
         opacity: 0;
     }

     .hamburger.active .bar:nth-child(1) {
         transform: translateY(8px) rotate(45deg);
     }

     .hamburger.active .bar:nth-child(3) {
         transform: translateY(-8px) rotate(-45deg);
     }



     /*.psyanky-lg {
         display: none;
     }*/

     .psyanky-lg {
         margin-top: 50px;
         padding-top: 50px;
         display: block;

     }

     .carousel-inner img {
         display: block;
         height: 250px;
         border-radius: 80%;
     }

     /*  .psyanky-sm {
         margin-top: 50px;
         padding-top: 50px;
         display: block;

     }

    

     .psyanky-1-img img {
         display: block;
         width: 100%;
         border-radius: 80%;

     }
*/
     .about-us {
         border: none;
     }

     .about-us .about-us-article {
         border-right: none;

     }

     .about-us img {
         display: none;
     }

     .gallery img {
         width: 100px;
         height: 100px;
     }


     .gallery-item {
         padding-bottom: 10px;
     }

     .modal-dialog {
         top: 20vh;

     }


     .cart-item {
         padding-bottom: 10px;
     }

     .cart-header div {
         display: none;
     }

     .button,
     .cartTotal h4 {

         font-weight: bold;
         width: 100%;

     }

     .btn {
         width: 100%;
     }

     .store-header,
     .current-cart h3 {
         font-size: 30px;
     }

     .cartTotal .row {
         margin 5px;
     }

     .checkout-user-row,
     .checkout-payment-row {
         padding: 0;
     }
     
     .checkout-user-row input,
     .checkout-user-row select,
     .checkout-payment-row input,
     .checkout-payment-row select,
     .input-group-text {
         margin: 10px 0 10px;
         font-size: 1.2rem;
     }
     
     .checkout-title h5
     {
         font-size: 30px;
         
     }

 }
