.home-container {
    margin-bottom: 100px;
}

header {
    width: 100%;
    height: 60px;
}

#site-header {
    margin-top: 10px;

}

#site-header .site-title {
    font-family: 'Style Script', cursive;
    font-size: 72px;
    color: #8AC0DE;
    text-shadow: 2px 2px 5px rgba(138, 192, 222, 1);
    margin-right: 20px;

}

#site-header .site-title .site-second-title {
    color: #EAB159;
}


#site-header nav a {
    color: #EAB159;
    font-size: 1.5rem;
}

#site-header nav a:hover {
    font-weight: bolder;
}

#site-header nav .active {
    color: #8AC0DE;
}


.carousel-inner {
    border: 2px solid #8AC0DE;
    border-radius: 80%;
}

.carousel-item img {
    height: 450px;
}

.about-us {
    margin-top: 140px;
    border: 2px solid #8AC0DE;
    padding: 5px;

}

.about-us h2 {
    font-family: 'Style Script', cursive;
    color: #EAB159;
    font-weight: 700;
}

.about-us .about-us-article {
    border-right: 2px solid #8AC0DE;

}


@media screen and (max-width: 820px) {

    .about-us {
        border: none;
    }

    .about-us .about-us-article {
        border-right: none;

    }

    .about-us img {
        display: none;
    }


}

@media screen and (max-width: 450px) {

    #site-header .site-title {
        font-size: 40px;
    }
.carousel-item img {
    height: 250px;
}

}
